@import "_gabinetes";
@import "_procesadores";
@import "tarjetasdevideo";
@import "_mixins";
@import "_variables";
@import "_carritostyle";

/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $tipografiaPrincipal;
}

.titulh2 {
    color:white;
    text-decoration: underline;
    text-decoration-color: rgb(14, 153, 84);
    margin: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
}
h1{
    color: white;
}
h3 {
    color: #184dc9;
    margin: 15px;
    display: flex;
    text-align: start;
}

h5 {
    color: white;
    text-align: center;
}
h6 {
    color: white;
    font-size: 17px;
}

.uniq{
position: fixed;
bottom: 0;
width: 100%;
}
p {
    color: white;
    display: inline;
    font-size: 17px;
}
.pre{
    color: red;
    font-size: 20px;
}
p1{
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.textonegro{
    color: black;
}

.shopping-cart-header{
    color: white;
    font-size: 30px;
}
.h-100{
    width: 10%;
}

.shoppingcartItem{
    border: solid;
}

.espacio{
    margin: 50px;
}

.map {
    width: 400px;
    height: 200px;
}
/*Index*/

body {
    //background-color: #95b8f6;
    background-color: black;
    display: flex;
    flex-direction: column;
    header {
        background-color:white;
        div {
            padding: 0 0 0 0;
            margin: 0 0 10px 0;
            justify-content: center;
            align-content: center;
            div {
                margin: 20px 740px 0 0;
                padding: 0;
                background-color: white;
                width: 100%;
                table{
                    table-layout: fixed;
                    width: 100%;
                    tr{
                        th{
                            padding-right: 200px;
                            .LogoAltek {
                                width: 250px;
                                display: block;
                                margin: auto;
                            }
                        }
                        th{
                            
                            div{
                                border: none;
                                list-style-type: none;
                                text-align:right;
                                ul{
                                    li{
                                        display: inline;
                                        align-content:center;
                                        padding: 20px 0;
                                        
                                        a{
                                            padding: 0 30px;
                                            font-size: 20px;
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        ul{
            padding: 30px 0px 0 0;
            width: 100%;
            li{
                margin: 0;
            }
            li{
                .nav_item {
                    margin: 15px;
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: center;
                    font-size: 20px;
                }
                }
                form{
                    margin-left: 100px;
                }
                
            li {
                list-style-type: none;
                a {
                    color: #184dc9;
                }
            }
        }
    }
    main {
        div{
            padding: 2px;
            div{
                div{
                    div{/*Buttons*/
                    }
                    div{/*Carousel-inner*/
                        
                    }
                    /*Slide*/
                }
                div{ /*Carousel2*/
                    div{ /*Buttons*/
                        
                    }
                    div{/*Carousel-inner*/
                        
                        div{

                        }
                    }
                    /*Slide*/
                }
            }
            div{
                    /*Segunda fila*/
                    div{
                        padding: 0 0 10px;
                    }
                }
            }
        }

        section {
            .video {
                display: flex;
                justify-content: center;
            }
        }
        section {
            .alert {
                margin: 15px;
                padding: 0;
                border: solid;
                border-color: red;
                display: flex;
                justify-content: center;
            }
            li {
                color: #184dc9;
                font: 20px;
                margin-top: 5px;
            }
        }
        section {
            .imgmostra {
                display: flex;
                justify-content: center;
            }
        }
        section {
            .alert2 {
                margin: 20px;
                padding: 0;
                border: solid;
                border-color: red;
                text-align: justify;
            }
        }
        section {
            .centr {
                text-align: center;
                font-size: 20px;
            }
            .uno {
                @extend .alert;
            }
            .bien {
                @include dbotoncalif (green);
            }
            .meh {
                @include dbotoncalif (yellow);
            }
            .mal {
                @include dbotoncalif (red);
            }
        }
        section{
            .final{
                background-color: gray;
            }
            div{
            }
        }
        .formulario{
            margin: 0 300px;
            div{
                .letraform{
                    color:white;
                }
            }
        }
    }
    footer{
        background-color: white;
    }


@media only screen and (min-width: 320px) and (max-width: 500px) {

    .paraVideo {
        padding: 0;
        width: 360px;
        height: 360px;
    }

    .centrmob {
        margin-top: 10px;
    }
}