@import "_gabinetes";
@import "_procesadores";
@import "tarjetasdevideo";
@import "_mixins";
@import "_variables";

/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $tipografiaPrincipal;
}
.titulh2{
    color: #184dc9;
    text-decoration:underline;
    text-decoration-color: rgb(14, 153, 84);
    margin: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
}
h3{
    color: #184dc9;
    margin: 15px;
    display: flex;
    text-align: start;
}
p{
    color: black;
    display: inline;
    font-size: 17px;
}

    /*Index*/

body{
    background-color: white;
    header{
        div{
            border: solid;
            border-color: #001FFF;
            background-color: #245AD6;
            .ban1{
                width: 250px;
                display: block;
                margin: auto;
            }
        }
        div{
            .ban2{
                display:flex;
                width: 100%;
                height: 50px;
            }
        }
        .busq{
            display: flex;
            justify-content: flex-end;
        }
        nav{
            
            width: 100%;
            .nav_item{
                margin: 15px;
                padding: 0;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                text-align: center;
                font-size: 20px;
            }
            li{
                list-style-type: none;
                a{
                    color: #184dc9;
                }
            }
        }
    }
    main{
        section{
            .video{
                display: flex;
                justify-content: center;
            }
        }
        section{
            .alert{
                margin: 15px;
                padding: 0;
                border: solid;
                border-color: red;
                display: flex;
                justify-content: center;
            }
            li{
                color: #184dc9;
                font: 20px;
                margin-top: 5px;
            }
        }
        section{
            .imgmostra{
                display: flex;
                justify-content: center;
            }
        }
        section{
            .alert2{
                margin: 20px;
                padding: 0;
                border: solid;
                border-color: red;
                text-align: justify;
            }
        }
        section{
            .centr{
                text-align: center;
                font-size: 20px;
            }
            .uno{
                @extend .alert;
            }
            .bien{
                @include dbotoncalif (green);
            }
            .meh{
                @include dbotoncalif (yellow);
            }
            .mal{
                @include dbotoncalif (red);
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 500px){
    .map{
        display:flex;
        width: 360px;
    }
    .paraVideo{
        padding: 0;
        width: 360px;
        height: 360px;
    }
    .centrmob{
        margin-top: 10px;
    }
}